.auth-header {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	
	.small-container {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	
	&-brand {
		display: block;
		width: 80%;
		padding: 4.5rem 0;
	}
}
