.print-header {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: 1em 0;
	
	.container {
		display: flex;
		align-items: flex-end;
		flex-direction: row;
		justify-content: space-between;
		gap: 3rem;
	}
	
	img {
		height: 70px;
		margin-bottom: 1.8rem;
	}
	
	h1 {
		margin-bottom: 0;
	}
}
