// Colors
$color-black: rgba(0, 0, 0, 1);
$color-gray-dark: rgba(87, 87, 84, 1);
$color-gray: rgba(135, 135, 135, 1);
$color-white: rgba(255, 255, 255, 1);

$color-green: rgba(3, 128, 61, 1);
$color-blue: rgba(0, 102, 168, 1);
$color-red: rgba(227, 0, 10, 1);
$color-orange: rgba(242, 138, 0, 1);
$color-yellow: rgba(255, 204, 0, 1);

$color-blue-dark: rgba(0, 54, 92, 1);


